<header class="d-flex justify-content-between dashboard-header-group">
  <h1 class="dashboard-header m-4"><img src="/images/safe.png" class="header-img me-3"></span>Coin Vault</h1>
  <button type="button" id="logout" class="logout-btn btn btn-secondary ">Logout</button>
</header>

<main class="d-flex justify-content-center">
  <div class="user-card m-5">
    <div class="user-info d-flex flex-row m-5">
      <div class="circle-img rounded-circle">
        <img src="https://avatarairlines.com/wp-content/uploads/2020/05/Female-Placeholder.png" class="avatar" alt="User avatar"></img>
      </div>
      <div class="user-info-text d-flex flex-column m-5">
        <h1 class="username pb-4">{{userData.username}}</h1>
        <h2 class="funds pb-3">Funds Available: $ <span>{{currentFunds}}</span></h2>
        <h2 class="valuation">Total Valuation: $ {{userData.money}}</h2>
      </div>
    </div>
    <div class="cards d-flex flex-row container">
      <div class="coin-name card col-3">
        <div class="coins-list-group card-header">COIN</div>
        <ul class="coin-list list-group list-group-flush">
          {{#each coinData}}
          <li id="{{this.symbol}}" class="list-group-item"><span><img src="/images/{{this.symbol}}.png"
                class="icon ms-1 me-3"></span>{{this.symbol}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="coin-price card col-5">
        <div class="coins-list-group card-header">PRICE</div>
        <ul class="coin-list list-group list-group-flush">
          {{#each coinData}}
          <li id="{{this.symbol}}" class="list-group-item">$ {{this.price}} </li>
          {{/each}}
        </ul>
      </div>
      <div class="coin-number card col-4">
        <div class="coins-list-group card-header">COIN NUMBER</div>
        <ul class="coin-list list-group list-group-flush">
          <li id="BTC" class="list-group-item">{{userData.wallet.btc}}</li>
          <li id="ETH" class="list-group-item">{{userData.wallet.eth}}</li>
          <li id="DOGE" class="list-group-item">{{userData.wallet.doge}}</li>
          <li id="ATOM" class="list-group-item">{{userData.wallet.atom}}</li>
        </ul>
      </div>
    </div>
  </div>
</main>

<div class="buttons d-inline-flex justify-content-center">
  <!-- Button to Buy -->
  <button type="button" class="buy-btn btn btn-dark btn-lg" data-bs-toggle="modal"
    data-bs-target="#buyModal">BUY</button>
  <!-- Buy Modal -->
  <div class="modal fade buy-modal" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Buy Cryptocurrency</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Coin</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">Bitcoin (BTC)</option>
              <option value="2">Ethereum (ETH)</option>
              <option value="3">Cosmos (ATOM)</option>
              <option value="5">Dogecoin (DOGE)</option>
            </select>
            <input type="text" class="form-control" placeholder="How many?"
              aria-label="Text input with dropdown button">
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02">Coin</label>
            <select class="form-select" id="inputGroupSelect02">
              <option selected>Choose...</option>
              <option value="1">Bitcoin (BTC)</option>
              <option value="2">Ethereum (ETH)</option>
              <option value="3">Cosmos (ATOM)</option>
              <option value="5">Dogecoin (DOGE)</option>
            </select>
            <input type="text" class="form-control" placeholder="How many?"
              aria-label="Text input with dropdown button">
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect03">Coin</label>
            <select class="form-select" id="inputGroupSelect03">
              <option selected>Choose...</option>
              <option value="1">Bitcoin (BTC)</option>
              <option value="2">Ethereum (ETH)</option>
              <option value="3">Cosmos (ATOM)</option>
              <option value="5">Dogecoin (DOGE)</option>
            </select>
            <input type="text" class="form-control" placeholder="How many?"
              aria-label="Text input with dropdown button">
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect04">Coin</label>
            <select class="form-select" id="inputGroupSelect04">
              <option selected>Choose...</option>
              <option value="1">Bitcoin (BTC)</option>
              <option value="2">Ethereum (ETH)</option>
              <option value="3">Cosmos (ATOM)</option>
              <option value="5">Dogecoin (DOGE)</option>
            </select>
            <input type="text" class="form-control" placeholder="How many?"
              aria-label="Text input with dropdown button">
          </div>
          <div class="output d-flex flex-row justify-content-center">
            <h4 class="price-label">Total Funds Spent:</h4>
            <h4 class="price">$$$$$.$$</h4>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-btn" data-bs-dismiss="modal">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Button to Sell -->
  <button type="button" class="sell-btn btn btn-dark btn-lg" data-bs-toggle="modal"
    data-bs-target="#sellModal">SELL</button>
  <!-- Sell Modal -->
  <div class="modal fade sell-modal" id="sellModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sell Cryptocurrency</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Coin</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">Bitcoin (BTC)</option>
              <option value="2">Ethereum (ETH)</option>
              <option value="3">Cosmos (ATOM)</option>
              <option value="5">Dogecoin (DOGE)</option>
            </select>
            <input type="text" class="form-control" placeholder="How many?"
              aria-label="Text input with dropdown button">
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02">Coin</label>
            <select class="form-select" id="inputGroupSelect02">
              <option selected>Choose...</option>
              <option value="1">Bitcoin (BTC)</option>
              <option value="2">Ethereum (ETH)</option>
              <option value="3">Cosmos (ATOM)</option>
              <option value="5">Dogecoin (DOGE)</option>
            </select>
            <input type="text" class="form-control" placeholder="How many?"
              aria-label="Text input with dropdown button">
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect03">Coin</label>
            <select class="form-select" id="inputGroupSelect03">
              <option selected>Choose...</option>
              <option value="1">Bitcoin (BTC)</option>
              <option value="2">Ethereum (ETH)</option>
              <option value="3">Cosmos (ATOM)</option>
              <option value="5">Dogecoin (DOGE)</option>
            </select>
            <input type="text" class="form-control" placeholder="How many?"
              aria-label="Text input with dropdown button">
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect04">Coin</label>
            <select class="form-select" id="inputGroupSelect04">
              <option selected>Choose...</option>
              <option value="1">Bitcoin (BTC)</option>
              <option value="2">Ethereum (ETH)</option>
              <option value="3">Cosmos (ATOM)</option>
              <option value="5">Dogecoin (DOGE)</option>
            </select>
            <input type="text" class="form-control" placeholder="How many?"
              aria-label="Text input with dropdown button">
          </div>
          <div class="output d-flex flex-row justify-content-center">
            <h4 class="price-label">Total Funds Gained:</h4>
            <h4 class="price">$$$$$.$$</h4>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-btn" data-bs-dismiss="modal">Sell</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>