<!-- main header -->
<header class="d-flex justify-content-between dashboard-header-group">
  <h1 class="dashboard-header m-4"><img src="/images/safe.png" class="header-img me-3"></span>Coin Vault</h1>
  <button type="button" id="logout" class="logout-btn btn btn-secondary ">Logout</button>
</header>

<!-- user card -->
<main class="d-flex justify-content-center">
  <div class="user-card m-5">
    <div class="user-info d-flex flex-row m-5">
      <div class="circle-img rounded-circle">
        <img src="https://avatarairlines.com/wp-content/uploads/2020/05/Female-Placeholder.png" class="avatar"
          alt="User avatar"></img>
      </div>
      <div class="user-info-text d-flex flex-column m-5">
        <h1 class="username pb-4">{{userData.username}}</h1>
        <h2 class="funds pb-3">Funds Available: $ <span>{{currentFunds}}</span></h2>
        <h2 class="valuation">Total Valuation: $ {{userData.money}}</h2>
      </div>
    </div>
    <div class="cards d-flex flex-row container">
      <div class="coin-name card col-3">
        <div class="coins-list-group card-header">COIN</div>
        <ul class="coin-list list-group list-group-flush">
          {{#each coinData}}
          <li id="{{this.symbol}}" class="list-group-item"><span><img src="/images/{{this.symbol}}.png"
                class="icon ms-1 me-3"></span>{{this.symbol}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="coin-price card col-5">
        <div class="coins-list-group card-header">PRICE</div>
        <ul class="coin-list list-group list-group-flush">
          {{#each coinData}}
          <li class="list-group-item">$ {{this.price}} </li>
          {{/each}}
        </ul>
      </div>
      <div class="coin-number card col-4">
        <div class="coins-list-group card-header">COIN NUMBER</div>
        <ul class="coin-list list-group list-group-flush">
          <li class="list-group-item">{{userData.wallet.btc}}</li>
          <li class="list-group-item">{{userData.wallet.eth}}</li>
          <li class="list-group-item">{{userData.wallet.doge}}</li>
          <li class="list-group-item">{{userData.wallet.atom}}</li>
        </ul>
      </div>
    </div>
  </div>
</main>

<!-- Transaction Button & Modal -->
<div class="buttons d-inline-flex justify-content-center">
  <!-- Transaction Button -->
  <button type="button" class="buy-btn btn btn-dark btn-lg" data-bs-toggle="modal" data-bs-target="#buyModal">Complete
    Transactions</button>
  <!-- Transaction Modal -->
  <div class="modal fade buy-modal" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Which Transaction?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <a href="/buy" class="btn modal-btn">Buy Assets</a>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <a href="/sell" class="btn modal-btn">Sell Assets</a>
        </div>
      </div>
    </div>
  </div>
</div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

      {{#if loggedIn}}
      <script src="/js/logout.js"></script>
      {{/if}}